!!! 5
html
  head
    title= title
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,minimum-scale=1 user-scalable=no,width = 320')
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='default')
    script(type='text/javascript', src='/javascripts/jqtouch/zepto.min.js')
    script(type='text/javascript', src='/javascripts/jqtouch/jqtouch.js')
    script(type='text/javascript', src='/javascripts/global.js')
    link(rel='stylesheet', href='/stylesheets/jqtouch/apple.css', type='text/css', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
       var jQT = new $.jQTouch({
                icon: 'jqtouch.png',
                icon4: 'jqtouch4.png',
                addGlossToIcon: false,
                startupScreen: 'jqt_startup.png',
                statusBar: 'black-translucent',
                themeSelectionSelector: '#jqt #themes ul',
                preloadImages: []
            });
  body!= body